body {

background-color: rgb(194, 138, 247);


}
h1 {
color: rgb(242, 216, 253);
margin-left: 20px;
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: darkmagenta;

}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3px 35px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #fddaff;
}


ul li a {
display: block;
color:rgb(194, 138, 247);
text-align: center;
padding: 5px;
text-decoration: none;


}
